.div_busca {
    display: flex;
}

.termo_header {
    display: flex;
    justify-content: space-between;
}

#query-select-group span {
    padding-right: 10px;
}

#remissiva-add {
    border-color: white;
}

#radio-bool {
    max-width: 13vh;
}

#card-form {
    margin-top: 3vh;
}

#return-button {
    margin-bottom: 3vh;
}

#space-between{
    display: flex;
    justify-content: space-between;
}

#start {
    display: flex;
    justify-content: start;
}

#edit-icon {
    margin-left: 1.5vh;
}